<!--Heredamos de base.html-->
{% extends "base.html" %}
<!--cargamos archivos estaticos-->
{% load staticfiles %}
<!--llenamos los huecos definidos en base.html-->
{% block title %}Generos{% endblock title %}
{% block section_name %}Generos{% endblock section_name %}
{% block section_description %}Lista de Generos{% endblock section_description %}

{% block main %}
<a href="/genero/crearGenero" style="text-decoration:none" class="btn btn-primary">Añadir Genero</a>
<br>
<br>

{% if lista %}
<table class="hoverable" id="tablaGenero">
  <thead class="hoverable blue-grey lighten-3">
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="blue-grey lighten-5">
    {% for c in lista%}
    <tr>
      <td><a href="modificar?id={{c.genero_id}}">{{forloop.counter}}</a></td>
      <td>{{c.nombre}}</td>
      <td>
        <button class="btn btn-danger" type="submit">
          <a href="{% url 'deleteGenero' c.pk %}" onClick="return confirm('¿Seguro que quieres borrar el registro?');">
            Eliminar
          </a>
        </button>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}

<div class="row">
  <div class="col s12 m6 l6 offset-l3">
    <div class="card blue-grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title black-text"><strong>No se han registrado Generos</strong></span>
      </div>
      <div class="card-action">
        {% if  user.is_authenticated%}
        {#<a href="{% url 'crear' %}"><span class="blue-grey-text">Crear un libro</span></a>#}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endif%}




{% endblock main %}