<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- jquery minificado -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <!--Iconos de Materialize-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>


<body style="display:flex; min-height:100vh; flex-direction:column;">
    <header>
        <!-- Menu principal -->
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="{% url 'libros' %}" class="brand-logo">Bienvenido</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="activate"><a href="{% url 'libros' %}">Inicio</a></li>
                    {% if user.is_authenticated %}

                    {# <!--definir inicio de sesion-->#}

                    {% for group in user.groups.all %}
                        {% if group.name == 'administracion'  %}
                        <li><a href="/autor"> Autores</a></li>
                        <li><a href="/genero"> Generos</a></li>
                        {% elif group.name == 'bibliotecario' %}
                        <li><a href="/genero"> Generos</a></li>
                        <li><a href="/libroins"> Prestamos</a></li>
                        {%endif%}
                        
                    {% endfor %}
                    <li><a href="/libros"> Libros</a></li>
                    <li><a href=""> Bienvenido {{ user.username | upper }}</a></li>
                    <li><a href="/logout"> Cerrar Sesion</a></li>
                    {% else %}
                    <li>
                        <a href="/">Inicie Sesion</a>
                    </li>
                    {% endif %}
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li class="activate"><a href="{% url 'libros' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    {% for group in user.groups.all %}
                    {% if group.name == 'administracion'  %}
                    <li><a href="/autor"> Autores</a></li>
                    <li><a href="/genero"> Generos</a></li>
                    {% elif group.name == 'bibliotecario' %}
                    <li><a href="/genero"> Generos</a></li>
                    <li><a href="/libroins"> Prestamos</a></li>
                    {%endif%}
                    {% endfor %}
                    <li><a href="/libros"> Libros</a></li>
                    {# <!--definir inicio de sesion-->#}
                    <li><a href=""> Bienvenido {{ user.username | upper }}</a></li>
                    <li><a href="/logout"> Cerrar Sesion</a></li>
                    {% else %}
                    <li>
                        <a href="/">Inicie Sesion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--fin menu principal -->
    </header>

    <main style="flex: 1 0 auto;">
        <div class="container">
            <div class="divider"></div>
            <div class="section">
                <h4>{% block section_name %}{% endblock section_name %}</h4>
                <p>{% block section_description %}{% endblock section_description %}</p>
            </div>
            {% block main %}
            <!--Contenido especifico de cada template-->
            {% endblock main %}
        </div>
    </main>
    <!--footer inicio -->
    <footer class="page-footer teal darken-1">
        <div class="footer-copyright">
            <div class="container">
                © 2019 Anderson Quizhpe
            </div>
        </div>
    </footer>
    <!--  footer fin -->
    <!-- Configuracion e inicializaciones Javascript -->
    <script>
        //Menu desplegable, necesario para activar el menu 
        //en un tamanio responsivo
        $(document).ready(function () {
            $('.button-collapse').sideNav();

            $('#tablaGenero').DataTable({
                "pagingType": "numbers",
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
            $('#tablaAutores').DataTable({
                "pagingType": "numbers",
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
            
            $('#tablaDevueltos').DataTable({
                "pagingType": "numbers",
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });

        });
    </script>
</body>

</html>