<!--Heredamos de base.html-->
{% extends "base.html" %}
<!--cargamos archivos estaticos-->
{% load staticfiles %}
<!--llenamos los huecos definidos en base.html-->
{% block title %}Prestamos {% endblock title %}
{% block section_name %}!Prestamos¡{% endblock section_name %}
{% block section_description %}Prestamos realizados{% endblock section_description %}

{% block main %}
<a href="" style="text-decoration:none" class="btn btn-primary">Nuevo Prestamo</a>
<br>
<br>

{% if lista %}
<table class="hoverable" id="tablaGenero">
  <thead class="hoverable blue-grey lighten-3">
    <tr>
      <th>N°</th>
      <th>Libro</th>
      <th>Prestado a:</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody class="blue-grey lighten-5">
    {% for c in lista%}
    <tr>
      <td><a href="modificar?id={{c.genero_id}}">{{forloop.counter}}</a></td>
      <td>{{c.nombre}}</td>
      
        {% if user.is_authenticated %}
          {% for group in user.groups.all %}
            {% if group.name == 'administracion'  %}
              <td>
              <button class="btn btn-danger" type="submit">
              <a href="{% url 'deleteGenero' c.pk %}" onClick="return confirm('¿Seguro que quieres borrar el registro?');">
                Eliminar
              </a>
              </button>
            </td>
            {%endif%}
          {% endfor %}
        {% endif %}

    
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}

<div class="row">
  <div class="col s12 m6 l6 offset-l3">
    <div class="card blue-grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title black-text"><strong>No se han registrado Generos</strong></span>
      </div>
      <div class="card-action">
        {% if  user.is_authenticated%}
        {#<a href="{% url 'crear' %}"><span class="blue-grey-text">Crear un libro</span></a>#}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endif%}




{% endblock main %}