{% extends "base.html" %}
{% block title %}Prestamos{% endblock title %}
{% block section_name %}¡ Prestamos !{% endblock section_name %}
{% block main %}

{% if formulario.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="inner">
      <p>La informacion proporcionada debe ser corregida:</p>
			<ul class="errorlist">
				{% for field in formulario %}
          {% if field.errors %}
            <li><a href="#id_{{field.name}}" class="error">
              {{ field.label }}: {{ field.errors|striptags }}
            </a></li>
          {% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}

<form enctype="multipart/form-data" method='POST'>{% csrf_token %}
  <div class="row">
    <div class=" col s12">
      {% for field in formulario%}
      <div class="form_group">
        {{field.label_tag}} <br>{{field.help_text|safe}} {{field}}
      </div>
      {% endfor %}

      <div class="card-action">
        <button class="btn waves-effect waves-light  blue-grey" type="submit" name="crear" value="crear">Enviar</button>
        <a class="btn waves-effect waves-light  blue-grey white-text" href="{% url 'libros' %}">Cancelar</a>
      </div>
    </div>
  </div>
</form>
<script>
  // Para el correcto funcionamiento de los desplegables presentes en el formulario select
  // se debe de incluir este script
  $(document).ready(function () {
    $('select').material_select();
  });
</script>
{% endblock main %}